* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
}

i {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  z-index: 1;
}

.zone {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#container {
  display: flex;
  width: 1500px;
}

.card {
  width: 500px;
  height: 500px;
  padding: 1rem;
}

.card1 {
  background-color: beige;
}

.card2 {
  background-color: powderblue;
}

.card3 {
  background-color: gray;
}

.left {
  position: absolute;
  transform: translateX(-500px);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.left2 {
  position: absolute;
  transform: translateX(-1000px);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.default {
  transform: translateX(0);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.fas.fa-angle-left {
  top: 50%;
  transform: translateY(-50%);
}

.fas.fa-angle-right {
  right: 0;
  display: none;
  transform: translateY(-50%);
  top: 50%;
}
